<html>

<head>
  <meta charset="UTF-8">
  <title>Animal Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to the Animal database!</h1>
    <p class="headerText">Enter any animal you would like into the searchbar below to pull up a fun fact about it!</p>
    <input class="animalsearch" type="text" placeholder="Search...">
  </header>

  <div class="container">
    <p style="text-align: center;">While you are here, checkout our ever growing list of the animals located in our database!</p>
    <ul>
      <li>Bird</li>
      <li>Koala</li>
      <li>Kangaroo</li>
      <li>Duck</li>
      <li>Axolotl</li>
      <li>Capybara</li>
      <li>Hedgehog</li>
      <li>Narwhal</li>
    </ul>
  </div>

  </div>
</body>
</body>

</html>