<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login or Signup</title>
</head>

<body>
  <h1>Login or Signup</h1>

  <div>
    <h2>Login</h2>
    <form action="/api/search" method="GET" class="login-form">
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" name="email" required>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" name="password" required>
      <button type="submit">Login</button>
    </form>
  </div>

  <div>
    <h2>Signup</h2>
    <form action="/api/search" method="GET" class="signup-form">
      <label for="name-signup">Name:</label>
      <input type="text" id="name-signup" name="name" required>
      <label for="email-signup">Email:</label>
      <input type="text" id="email-signup" name="email" required>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" name="password" required>
      <button type="submit">Signup</button>
    </form>
  </div>
</body>

<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>
<script src="/js/utils.js"></script>

</html>